.App {
  height: 100vh;
  background-color: green;
  color: white;
  display: flex;
  flex-direction: column;

  &-home {
    text-align: center;
    height: 100%;

    &-norules {
      text-align: center;
      height: auto;
    }

    &-header {
      font-size: 5em;
      margin: 0;
    }

    &-options {
      display: flex;
      justify-content: center;

      &-showrules {

        &-button {
          border: none;
          background-color: green;
          color: white;
          margin-right: 1em;
    
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      &-startnew {

        &-button {
          border: none;
          background-color: green;
          color: white;
          margin-right: 1em;
    
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    &-rules {

      &-header {
        font-size: 2em;
      }

      &-desc {
        font-size: 1em;
        padding: 1em 1em;

        &-text {
          margin: 0.1em;
        }
      }
    }

    &-button {
      background-size: 200% auto;
      margin-top: 2em;
      color: white;
      font-size: 3em;
      border: 1px solid white;
      border-radius: 15px;
      box-shadow: 0 1px 3px rgb(255, 255, 255), 0 1px 3px rgba(255, 255, 255);
      background-image: linear-gradient(to right, #62a4ab 0%, lime 50%, #62a4ab 100%);
      transition: 0.5s;

      &:hover {
        background-position: right center;
      }
    }
  }

  &-area {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-player1 {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: lightseagreen;
      padding: 2em 0;

      &-name {
        text-align: center;
        font-size: 3em;
        padding-bottom: 1em;
      }

      &-game {
        width: 100%;
        display: flex;
        justify-content: space-around;

        &-deck {

          &-button {
            position: relative;

            &-back {
              width: 226px;
              height: 314px;
              border: 1px solid lightgoldenrodyellow;
              border-radius: 15px;
              background-image: url("../back_card.jpg");
              background-size: contain;
              background-position: center;
              position: absolute;
              z-index: 0;
            }

            &-draw {
              width: 226px;
              height: 314px;
              border: 1px solid lightgoldenrodyellow;
              border-radius: 15px;
              background-image: url("../back_card.jpg");
              background-size: contain;
              background-position: center;
              position: relative;
              z-index: 1;
              
              &:hover {
                cursor: pointer;
              }
            }
          }

          &-count {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 5em;
            text-align: center;
            padding-top: 0.5em;

            &-text {
              margin: 0;
            }
          }
        }

        &-play {
          width: 226px;
          height: 314px;
          transform: translateX(-180px) rotateY(90deg);
          transition: 0.2s;
          
          
          // position: absolute;
          // left: 180px;

          &-img {
            
          //   transform: rotateY(90deg);

          }
        }
      }
    }

    &-battle {
      color: yellow;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 10em;
    }

    &-battle::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      background: rgba(255,255,255,.2);
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-animation: circle .75s;
	    animation: circle .75s;
    }

    &-player2 {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: lightsalmon;
      padding: 2em 0;

      &-name {
        text-align: center;
        font-size: 3em;
        padding-bottom: 1em;
      }

      &-game {
        width: 100%;
        display: flex;
        justify-content: space-around;

        &-play {
          width: 226px;
          height: 314px;
        }
      
        &-deck {

          &-button {

            &-draw {
              width: 226px;
              height: 314px;
              border: 1px solid lightgoldenrodyellow;
              border-radius: 15px;
              background-image: url("../back_card.jpg");
              background-size: contain;
              background-position: center;

              &:hover {
                cursor: pointer;
              }
            }
          }

          &-count {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 5em;
            text-align: center;
            padding-top: 0.5em;

            &-text {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.hidden {
  visibility: hidden;
  width: 0;
}

.em {
  font-weight: bold;
}

.emWin {
  font-weight: bold;
  zoom: 3;
}

@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

.activeBack {
  transform: translateX(180px) rotateY(90deg);
  transition: 0.2s;
}

.activeFront {
  transform: translateX(0px) rotateY(0deg);
  transition: 0.2s;
  transition-delay: 0.2s;
}